body{
    background-color:black;
    color: white;
    font-family:'Julee', cursive;
}
html,body {
    height: 100%;
}
#mainnav ul{
    list-style: none;
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: auto;
    height: auto;
    right: 250px;
    font-size: 20px;
    text-decoration: none;
    color:aqua;
    top:20px;
}
#mainnav a{
    text-decoration: none;
    color:aqua;
}
#square {
    width: 0; 
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #F4B915;
    border-left: 50px solid #F4B915;
    border-bottom: 50px solid #F4B915;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 160px;
}
#mainnav a:hover{
    color: mediumspringgreen;
}
#wrapper{
    height: 100px !important;
    width: auto;
    background: black;
}
#mainnav li{
    display: inline;/*пункты меню в ряд*/
    color: aqua;
    margin:30px;
}
#header{
    width: 100%;
  }
h1{
    font-size: 50px;
    color: aqua;
    margin-left: 170px;
    margin-top: 100px;
}
.designer{
    width: 600px;
    float:right;
    margin-right: 150px;
    margin-top: 15px;
    height: 475px;
}
.htmls{
    width:800px;
    float: left;
    margin-left: 170px;
    height: 250px;
    margin-top: 0px;
}
.nix{
    width: 600px;
    float:left;
    margin-left: 153px;
    margin-top: 190px;
}
.papa{
    width:800px;
    float: right;
    margin-right: 170px;
    height: 250px;
    margin-top: 84px;
}
#block1{
    height: 700px;
    width: auto;
}
#block2{
    height: 1000px;
    width: auto;
}
h2{
    font-size: 25px;
    color: aqua;
    margin-right: 290px;
    margin-top: 50px;
    float: right;
}
h3{
    font-size: 25px;
    color: aqua;
    margin-right: 280px;
    margin-top: 10px;
    float: right;
}
#block3{
    height: 1000px;
    width: auto;
}
#block4{
    height: 400px;
    width: auto;
}
#block5{
    height: 100px;
    width: auto;
}
h4{
    font-size: 50px;
    color: aqua;
    margin-left: 750px;
    margin-top: 60px;
}
.work{
    margin-left: 160px;
}
.work2{
    margin-left: 10px;
}
.work3{
    margin-left: 10px;
}
.work4{
    margin-left: 400px;
}
.work5{
    margin-left: 10px;
}
h5{
    font-size: 20px;
    color: aqua;
    margin-left: 170px;
    margin-top: -45px;
}
form{
    float:right;
    margin-right: 300px;
    margin-top: 20px;
}
input{
    width: 300px;
    height: 40px;
    background-color: aqua;
    border: 0px;
}
textarea{
    float: right;
    width: 609px;
    height: 125px;
    background-color: aqua;
    border: 0;
    position: absolute;
}
.but{
    margin-top: 130px;
    margin-left: 160px;
    width: 300px;
    height: 40px;
    background-color: aqua;
}
.but:hover{
    background: #F4B915;
}